.contact_section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 72px;
}

.contact_section h1 {
    font-weight: 900;
    font-size: 48px;
}

.contact_section p {
    font-weight: 600;
    color: grey;
}