.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    gap: 81px;
    justify-content: center;
    height: 100vh;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 40px;
}

.top_btns {
    display: flex;
    gap: 2rem;
}

form {
    border: 2px solid var(--clr2);
    padding: 1.5rem;
    border-radius: 8px;
}

.form_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.form_input input {
    height: 40px;
    padding: 0 8px;
    color: var(--clr3);
    border: 2px solid var(--clr2);
    background-color: var(--clr1);
    border-radius: 8px;
}

.form_input textarea {
    color: var(--clr3);
    border: 2px solid var(--clr2);
    background-color: var(--clr1);
    border-radius: 8px;
}

.form_input label {
    position: absolute;
    top: -11px;
    left: 10px;
    background-color: var(--clr1);
    padding: 0 8px;
    font-size: 14px;
    color: var(--clr2);
}

.form_image {
    color: var(--clr2);
    font-Size: 28rem;
    padding-top: 9rem;
}