.navbar {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-weight: 500;
}