.ldnPage {
    display: flex;
    width: 100%;
}

.greetings {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 1200px;
}

.greetings h1 {
    color: var(--clr2);
    font-size: 120px;
    margin-bottom: 1.5rem;
    line-height: 150px;
}

.leaf {
    padding-left: 3.5rem;
    font-size: 125px;
}


.greetings p {
    color: var(--clr3);
    font-size: 22px;
    margin: 0;
    padding: 0;
    max-width: 750px;
}

.greetings p img {
    width: 120px;
    padding: 0;
    margin: 0;
}

.greetImg {
    margin-top: 7rem;
    overflow-x: hidden;
    min-width: 628px;
    margin-left: -2rem;
}

.greetImg img {
    width: 40rem;
}