.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}

.top_btns {
    display: flex;
    gap: 2rem;
}

.bottom_btns {
    display: flex;
    margin-top: 17px;
}

